.app{
    position: relative;
    overflow-x: clip;
}
.app>:nth-child(1){
    background-color: var(--black);
    position: relative;
}
.white-gradient{
    position: absolute;
    top: 3rem;
    width: 17rem;
    height: 17rem;
    border-radius: 10rem;
    background: rgba(255,255,255,0.545);
    filter: blur(100px);
    z-index: 1;
}